Repository nilukush/prism-core, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, docker, kubernetes, github-actions, dependencies, tests, api, database, security, ui, ai

.github/labeler.yml:

# Add 'frontend' label to any change within the 'frontend' folder
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - '*.jsx'
      - '*.tsx'
      - '*.js'
      - '*.ts'

# Add 'backend' label to any change within the 'backend' folder
backend:
  - changed-files:
    - any-glob-to-any-file:
      - backend/**/*
      - '*.py'
      - requirements*.txt
      - pyproject.toml

# Add 'documentation' label to any change to .md files
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**/*

# Add 'docker' label to any change to Dockerfile or docker-compose files
docker:
  - changed-files:
    - any-glob-to-any-file:
      - '**/Dockerfile*'
      - '**/docker-compose*.yml'
      - docker/**/*

# Add 'kubernetes' label to any change to k8s files
kubernetes:
  - changed-files:
    - any-glob-to-any-file:
      - k8s/**/*
      - helm/**/*
      - '*.yaml'
      - '*.yml'

# Add 'github-actions' label to any change to .github files
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*

# Add 'dependencies' label when dependencies are updated
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - package*.json
      - requirements*.txt
      - pyproject.toml
      - poetry.lock
      - Pipfile*

# Add 'tests' label when test files are modified
tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*test*'
      - '**/*spec*'
      - tests/**/*
      - frontend/__tests__/**/*
      - backend/tests/**/*

# Add 'api' label when API files are modified
api:
  - changed-files:
    - any-glob-to-any-file:
      - backend/src/api/**/*
      - frontend/src/lib/api*.ts
      - frontend/src/app/api/**/*

# Add 'database' label when database-related files are modified
database:
  - changed-files:
    - any-glob-to-any-file:
      - backend/src/models/**/*
      - backend/migrations/**/*
      - backend/alembic/**/*
      - '**/*migration*'
      - docker/postgres/**/*

# Add 'security' label when security-related files are modified
security:
  - changed-files:
    - any-glob-to-any-file:
      - backend/src/core/security.py
      - backend/src/core/auth*.py
      - backend/src/services/auth*.py
      - backend/src/api/v1/auth*.py
      - frontend/src/lib/auth*.ts
      - '**/middleware/**/*auth*'
      - .github/workflows/codeql.yml
      - .github/workflows/dependency-review.yml

# Add 'ui' label when UI components are modified
ui:
  - changed-files:
    - any-glob-to-any-file:
      - frontend/src/components/**/*
      - frontend/src/styles/**/*
      - '**/*.css'
      - '**/*.scss'

# Add 'ai' label when AI-related files are modified
ai:
  - changed-files:
    - any-glob-to-any-file:
      - backend/src/agents/**/*
      - backend/src/services/ai/**/*
      - frontend/src/components/ai/**/*

Add release notes for v0.1.0
  RELEASE_NOTES_v0.1.0.md
Labels: documentation

docs: add release announcement templates and GitHub setup script
  ANNOUNCEMENT_TEMPLATE.md
  scripts/setup-github-repo.sh
Labels: documentation

fix: comment out debug router imports to fix deployment
  backend/src/api/v1/router.py
Labels: backend, api

fix: comment out simple_activation router imports to fix deployment
  backend/src/api/v1/router.py
Labels: backend, api

docs: update CLAUDE.md and CHANGELOG.md for v0.14.28
  CHANGELOG.md
  CLAUDE.md
Labels: documentation

feat: add .env.example for open source setup
  .env.example
Labels: none

docs: update all documentation for open source release
  ANNOUNCEMENT.md
  CHANGELOG.md
  CONTRIBUTING.md
  POST_RELEASE_CHECKLIST.md
  README.md
  RELEASE_NOTES.md
  ROADMAP.md
  docs/PROJECT_STRUCTURE.md
Labels: documentation

docs: add CLAUDE.md for AI development assistance
  CLAUDE.md
Labels: documentation
